* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    width: 100%;
    list-style: none;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-transform: capitalize;
}

nav ul .header-logo{
    margin-right: auto;
}

nav ul li{
    text-decoration: none;
}

nav ul .download-button{
    display: block;
    width: 150px;
}

nav ul .download-button .icon{
    width: 16px;
    float: left;
    margin-right: 3px;
}